!!!5
html
  head

    title Sassy Buttons

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")

    link(rel="stylesheet", href="assets/stylesheets/normalize.css")
    link(rel="stylesheet", href="assets/stylesheets/main.css?v=0.1")

    // if IE
      script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

  body
    .page-wrap

      h1 Sassy Buttons!!

      h3 Anchors

      p
        a.btn Regular Button
      p
        a.btn.btn--primary.btn--block Block Level Primary Button
      p
        a.btn.btn--danger Danger! Button
      p
        a.btn.btn--success Success Button
      p
        a.btn.btn--danger.btn--small Small Danger! Button
      p
        a.btn.btn--success.btn--large Large Success Button
      p
        a.btn.btn--subtle Subtle Button

      h3 Button Elements

      p
        button.btn Regular Button
      p
        button.btn.btn--primary.btn--block Block Level Primary Button
      p
        button.btn.btn--danger Danger! Button
      p
        button.btn.btn--success Success Button
      p
        button.btn.btn--danger.btn--small Small Danger! Button
      p
        button.btn.btn--success.btn--large Large Success Button