!!!5
html
  head

    title Sassy Buttons

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")

    link(href="http://fonts.googleapis.com/css?family=Mouse+Memoirs", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="assets/stylesheets/normalize.css")
    link(rel="stylesheet", href="assets/stylesheets/main.css?v=0.1")

    // if IE
      script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

  body
    .page-wrap

      header.page-header

        h1 Sassy Buttons!!
        h6 A thing by&nbsp;
          a(href="https://twitter.com/beaucharman", title="Beau on Twitter")@beaucharman

        p
          | Some clean styles and thoughtful Sass mixins that create sexy and semantic CSS button objects.

        p
          a.btn.btn--primary.btn--block(href="https://github.com/beaucharman/sassy-buttons", title="View this project on GitHub") View Sassy Buttons on GitHub

        p
          | To create some button objects, conduct the following tasks:

        ol
          li Download and import &nbsp;
            code _sassy-buttons.scss
            |&nbsp;into your main Sass directory.
          li Use the&nbsp;
            code sassy-button()
            |&nbsp;mixin to render the CSS necessary for each button style. For example:
            pre @include sassy-button($label, $background-color, $foreground-color, $inverted, $high-contrast);
            |&nbsp;Which could look something like:
            pre @include sassy-button(primary, #6981c5, #fff, false, false);

          li Make, and enjoy a pot of tea.

      section

        h2 Basic Buttons

        dl
          dt
            button.btn Button
          dd
            pre &lt;button class="btn"&gt;Button&lt;button&gt;

        dl
          dt
            button.btn.btn--primary Primary Button
          dd
            pre class="btn btn--primary"

            pre @include sassy-button(primary, #6981c5, #fff);

        dl
          dt
            button.btn.btn--danger Danger! Button
          dd
            pre class="btn btn--danger"

            pre @include sassy-button(danger, #d8544b, #fff);

        dl
          dt
            button.btn.btn--success Success Button
          dd
            pre class="btn btn--success"
            pre @include sassy-button(success, #69a844, #fff);

        dl
          dt
            button.btn.btn--noir Noir Button
          dd
            pre class="btn btn--noir"
            pre @include sassy-button(noir, #222, #fff);


      section

        h2 Variations

        dl
          dt
            button.btn.btn--danger.btn--small Small Danger! Button
          dd
            pre class="btn btn--danger btn--small"

        dl
          dt
            button.btn.btn--success.btn--large Large Success Button :D
          dd
            pre class="btn btn--success btn--large"

        dl
          dt
            button.btn.btn--narrow Narrow button
          dd
            pre class="btn btn--narrow"

        dl
          dt
            button.btn.btn--primary.btn--block Block Level Primary Button
          dd
            pre class="btn btn--primary btn--block"

        dl
          dt
            a.btn An anchor styled like a button
          dd
            pre &lt;a href="#" class="btn"&gt;

        dl
          dt
            button.btn.btn--custom-color Custom colours!
          dd
            pre .btn.btn--custom-color

            pre @include sassy-button(custom-color, #6fb49d, #fff);

        dl
          dt
            button.btn.btn--inverted Inverted colours
            p
              | Dark text on a light background,
              | so we alter the text-shadow color and direction
              | to stay consistent with the light source (top to bottom)
          dd
            pre .btn.btn--inverted
            pre @include sassy-button(inverted, #a2c2f9, #000, <strong>true</strong>);

        dl
          dt
            button.btn.btn--high-contrast High contrast user feedback
          dd
            pre .btn.btn--high-contrast
            pre @include sassy-button(high-contrast, #f0af00, #fff, false, <strong>true</strong>);

      p
        | Thank you for stopping by :)&nbsp;
        a.btn.btn--small(href="https://github.com/beaucharman/sassy-buttons", title="View this project on GitHub") View this project on github &rarr;

      footer.page-footer
        p
          a(href="https://github.com/beaucharman/sassy-buttons", title="View this project on GitHub") Sassy Buttons
          |&nbsp;is made with love by&nbsp;
          a(href="https://www.twitter.com/beaucharman", title="Beau on Twitter") Beau Charman
          |&nbsp;(and Sass), and is&nbsp;
          a(href="http://opensource.org/licenses/MIT", title="MIT license") MIT licenesed.
          |&nbsp;This page was built with&nbsp;
          a(href="http://sass-lang.com/", title="Sass") Sass
          |&nbsp;and&nbsp;
          a(href="https://github.com/visionmedia/jade", title="Jade") Jade
          |. Hosted on&nbsp;
          a(href="https://www.github.com", title="GitHub") GitHub
          |. Fonts via&nbsp;
          a(href="http://www.google.com/fonts/specimen/Mouse+Memoirs", title="Google Fonts") Google Fonts
          |.

    a(href="https://github.com/beaucharman/sassy-buttons")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png", alt="Fork me on GitHub")