.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.btn {
  background-image: none;
  background-color: transparent;
  border: 1px solid;
  font-size: 1em;
  font-family: sans-serif;
  padding: 0.5em 1.5em;
  margin: 0;
  cursor: pointer;
  letter-spacing: 1px;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  border-radius: 3px;
  line-height: 1.4;
  text-decoration: none; }

.btn:active {
  box-shadow: inset 0 1px 8px -2px black;
  text-shadow: 0 0 8px #fff !important; }

.btn--large {
  font-size: 1.5em; }

.btn--small {
  font-size: 0.75em; }

.btn--narrow {
  padding: 0.15em 0.75em; }

.btn--block {
  width: 100%;
  display: block; }

.btn,
.btn:link,
.btn:visited {
  color: #444444;
  border-color: #c9c9c9;
  border-bottom-color: #b3b3b3;
  background-color: #cccccc;
  background-image: -moz-linear-gradient(top, #ebebeb, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebebeb), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #ebebeb, #cccccc);
  background-image: -o-linear-gradient(top, #ebebeb, #cccccc);
  background-image: linear-gradient(to bottom, #ebebeb, #cccccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBEBEB', endColorstr='#FFCCCCCC', GradientType=0);
  text-shadow: 0 1px 0 #fafafa; }

.btn:hover {
  color: #3c3c3c;
  border-color: #b8b8b8;
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(top, #fafafa, #e0e0e0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #fafafa, #e0e0e0);
  background-image: -o-linear-gradient(top, #fafafa, #e0e0e0);
  background-image: linear-gradient(to bottom, #fafafa, #e0e0e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFAFA', endColorstr='#FFE0E0E0', GradientType=0); }

.btn:active {
  background-color: #c9c9c9;
  background-image: -moz-linear-gradient(top, #c4c4c4, #c9c9c9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c4c4c4), to(#c9c9c9));
  background-image: -webkit-linear-gradient(top, #c4c4c4, #c9c9c9);
  background-image: -o-linear-gradient(top, #c4c4c4, #c9c9c9);
  background-image: linear-gradient(to bottom, #c4c4c4, #c9c9c9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC4C4C4', endColorstr='#FFC9C9C9', GradientType=0); }

.btn--inactive {
  background-color: #cccccc;
  background-image: -moz-linear-gradient(top, #f2f2f2, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #cccccc);
  background-image: -o-linear-gradient(top, #f2f2f2, #cccccc);
  background-image: linear-gradient(to bottom, #f2f2f2, #cccccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2F2F2', endColorstr='#FFCCCCCC', GradientType=0); }

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  color: white;
  border-color: #657ec4;
  border-bottom-color: #4663b5;
  background-color: #6981c5;
  background-image: -moz-linear-gradient(top, #95a6d6, #6981c5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#95a6d6), to(#6981c5));
  background-image: -webkit-linear-gradient(top, #95a6d6, #6981c5);
  background-image: -o-linear-gradient(top, #95a6d6, #6981c5);
  background-image: linear-gradient(to bottom, #95a6d6, #6981c5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF95A6D6', endColorstr='#FF6981C5', GradientType=0);
  text-shadow: 0 -1px 0 #5a75bf; }

.btn--primary:hover {
  color: #f7f7f7;
  border-color: #4c68ba;
  background-color: #869ad0;
  background-image: -moz-linear-gradient(top, #abb9df, #869ad0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#abb9df), to(#869ad0));
  background-image: -webkit-linear-gradient(top, #abb9df, #869ad0);
  background-image: -o-linear-gradient(top, #abb9df, #869ad0);
  background-image: linear-gradient(to bottom, #abb9df, #869ad0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFABB9DF', endColorstr='#FF869AD0', GradientType=0); }

.btn--primary:active {
  background-color: #657ec4;
  background-image: -moz-linear-gradient(top, #5e78c1, #657ec4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5e78c1), to(#657ec4));
  background-image: -webkit-linear-gradient(top, #5e78c1, #657ec4);
  background-image: -o-linear-gradient(top, #5e78c1, #657ec4);
  background-image: linear-gradient(to bottom, #5e78c1, #657ec4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5E78C1', endColorstr='#FF657EC4', GradientType=0); }

.btn--primary--inactive {
  background-color: #6981c5;
  background-image: -moz-linear-gradient(top, #a0afda, #6981c5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0afda), to(#6981c5));
  background-image: -webkit-linear-gradient(top, #a0afda, #6981c5);
  background-image: -o-linear-gradient(top, #a0afda, #6981c5);
  background-image: linear-gradient(to bottom, #a0afda, #6981c5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA0AFDA', endColorstr='#FF6981C5', GradientType=0); }

.btn--danger,
.btn--danger:link,
.btn--danger:visited {
  color: white;
  border-color: #d75047;
  border-bottom-color: #c5352b;
  background-color: #d8544b;
  background-image: -moz-linear-gradient(top, #e3847d, #d8544b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e3847d), to(#d8544b));
  background-image: -webkit-linear-gradient(top, #e3847d, #d8544b);
  background-image: -o-linear-gradient(top, #e3847d, #d8544b);
  background-image: linear-gradient(to bottom, #e3847d, #d8544b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE3847D', endColorstr='#FFD8544B', GradientType=0);
  text-shadow: 0 -1px 0 #d4443a; }

.btn--danger:hover {
  color: #f7f7f7;
  border-color: #ce372d;
  background-color: #df746d;
  background-image: -moz-linear-gradient(top, #e89c96, #df746d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e89c96), to(#df746d));
  background-image: -webkit-linear-gradient(top, #e89c96, #df746d);
  background-image: -o-linear-gradient(top, #e89c96, #df746d);
  background-image: linear-gradient(to bottom, #e89c96, #df746d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE89C96', endColorstr='#FFDF746D', GradientType=0); }

.btn--danger:active {
  background-color: #d75047;
  background-image: -moz-linear-gradient(top, #d5483e, #d75047);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d5483e), to(#d75047));
  background-image: -webkit-linear-gradient(top, #d5483e, #d75047);
  background-image: -o-linear-gradient(top, #d5483e, #d75047);
  background-image: linear-gradient(to bottom, #d5483e, #d75047);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD5483E', endColorstr='#FFD75047', GradientType=0); }

.btn--danger--inactive {
  background-color: #d8544b;
  background-image: -moz-linear-gradient(top, #e6908a, #d8544b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6908a), to(#d8544b));
  background-image: -webkit-linear-gradient(top, #e6908a, #d8544b);
  background-image: -o-linear-gradient(top, #e6908a, #d8544b);
  background-image: linear-gradient(to bottom, #e6908a, #d8544b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE6908A', endColorstr='#FFD8544B', GradientType=0); }

.btn--success,
.btn--success:link,
.btn--success:visited {
  color: white;
  border-color: #79bc51;
  border-bottom-color: #63a13e;
  background-color: #7cbd55;
  background-image: -moz-linear-gradient(top, #9ece81, #7cbd55);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ece81), to(#7cbd55));
  background-image: -webkit-linear-gradient(top, #9ece81, #7cbd55);
  background-image: -o-linear-gradient(top, #9ece81, #7cbd55);
  background-image: linear-gradient(to bottom, #9ece81, #7cbd55);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9ECE81', endColorstr='#FF7CBD55', GradientType=0);
  text-shadow: 0 -1px 0 #71b747; }

.btn--success:hover {
  color: #f7f7f7;
  border-color: #68a841;
  background-color: #93c872;
  background-image: -moz-linear-gradient(top, #afd797, #93c872);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#afd797), to(#93c872));
  background-image: -webkit-linear-gradient(top, #afd797, #93c872);
  background-image: -o-linear-gradient(top, #afd797, #93c872);
  background-image: linear-gradient(to bottom, #afd797, #93c872);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAFD797', endColorstr='#FF93C872', GradientType=0); }

.btn--success:active {
  background-color: #79bc51;
  background-image: -moz-linear-gradient(top, #74b94a, #79bc51);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#74b94a), to(#79bc51));
  background-image: -webkit-linear-gradient(top, #74b94a, #79bc51);
  background-image: -o-linear-gradient(top, #74b94a, #79bc51);
  background-image: linear-gradient(to bottom, #74b94a, #79bc51);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF74B94A', endColorstr='#FF79BC51', GradientType=0); }

.btn--success--inactive {
  background-color: #7cbd55;
  background-image: -moz-linear-gradient(top, #a6d28c, #7cbd55);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a6d28c), to(#7cbd55));
  background-image: -webkit-linear-gradient(top, #a6d28c, #7cbd55);
  background-image: -o-linear-gradient(top, #a6d28c, #7cbd55);
  background-image: linear-gradient(to bottom, #a6d28c, #7cbd55);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA6D28C', endColorstr='#FF7CBD55', GradientType=0); }

.btn--noir,
.btn--noir:link,
.btn--noir:visited {
  color: white;
  border-color: #1f1f1f;
  border-bottom-color: #090909;
  background-color: #222222;
  background-image: -moz-linear-gradient(top, #414141, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#222222));
  background-image: -webkit-linear-gradient(top, #414141, #222222);
  background-image: -o-linear-gradient(top, #414141, #222222);
  background-image: linear-gradient(to bottom, #414141, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF414141', endColorstr='#FF222222', GradientType=0);
  text-shadow: 0 -1px 0 #181818; }

.btn--noir:hover {
  color: #f7f7f7;
  border-color: #0e0e0e;
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #505050, #363636);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#505050), to(#363636));
  background-image: -webkit-linear-gradient(top, #505050, #363636);
  background-image: -o-linear-gradient(top, #505050, #363636);
  background-image: linear-gradient(to bottom, #505050, #363636);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF505050', endColorstr='#FF363636', GradientType=0); }

.btn--noir:active {
  background-color: #1f1f1f;
  background-image: -moz-linear-gradient(top, #1a1a1a, #1f1f1f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1a1a1a), to(#1f1f1f));
  background-image: -webkit-linear-gradient(top, #1a1a1a, #1f1f1f);
  background-image: -o-linear-gradient(top, #1a1a1a, #1f1f1f);
  background-image: linear-gradient(to bottom, #1a1a1a, #1f1f1f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF1F1F1F', GradientType=0); }

.btn--noir--inactive {
  background-color: #222222;
  background-image: -moz-linear-gradient(top, #484848, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#484848), to(#222222));
  background-image: -webkit-linear-gradient(top, #484848, #222222);
  background-image: -o-linear-gradient(top, #484848, #222222);
  background-image: linear-gradient(to bottom, #484848, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF484848', endColorstr='#FF222222', GradientType=0); }

.btn--custom-color,
.btn--custom-color:link,
.btn--custom-color:visited {
  color: white;
  border-color: #0f8566;
  border-bottom-color: #0b5c46;
  background-color: #108a69;
  background-image: -moz-linear-gradient(top, #16c193, #108a69);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#16c193), to(#108a69));
  background-image: -webkit-linear-gradient(top, #16c193, #108a69);
  background-image: -o-linear-gradient(top, #16c193, #108a69);
  background-image: linear-gradient(to bottom, #16c193, #108a69);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF16C193', endColorstr='#FF108A69', GradientType=0);
  text-shadow: 0 -1px 0 #0e785b; }

.btn--custom-color:hover {
  color: #f7f7f7;
  border-color: #0c654d;
  background-color: #14af85;
  background-image: -moz-linear-gradient(top, #1adca8, #14af85);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1adca8), to(#14af85));
  background-image: -webkit-linear-gradient(top, #1adca8, #14af85);
  background-image: -o-linear-gradient(top, #1adca8, #14af85);
  background-image: linear-gradient(to bottom, #1adca8, #14af85);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1ADCA8', endColorstr='#FF14AF85', GradientType=0); }

.btn--custom-color:active {
  background-color: #0f8566;
  background-image: -moz-linear-gradient(top, #0e7c5f, #0f8566);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0e7c5f), to(#0f8566));
  background-image: -webkit-linear-gradient(top, #0e7c5f, #0f8566);
  background-image: -o-linear-gradient(top, #0e7c5f, #0f8566);
  background-image: linear-gradient(to bottom, #0e7c5f, #0f8566);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0E7C5F', endColorstr='#FF0F8566', GradientType=0); }

.btn--custom-color--inactive {
  background-color: #108a69;
  background-image: -moz-linear-gradient(top, #18cf9d, #108a69);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#18cf9d), to(#108a69));
  background-image: -webkit-linear-gradient(top, #18cf9d, #108a69);
  background-image: -o-linear-gradient(top, #18cf9d, #108a69);
  background-image: linear-gradient(to bottom, #18cf9d, #108a69);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF18CF9D', endColorstr='#FF108A69', GradientType=0); }

.btn--high-contrast,
.btn--high-contrast:link,
.btn--high-contrast:visited {
  color: white;
  border-color: #ebab00;
  border-bottom-color: #bd8a00;
  background-color: #f0af00;
  background-image: -moz-linear-gradient(top, #ffc62e, #f0af00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc62e), to(#f0af00));
  background-image: -webkit-linear-gradient(top, #ffc62e, #f0af00);
  background-image: -o-linear-gradient(top, #ffc62e, #f0af00);
  background-image: linear-gradient(to bottom, #ffc62e, #f0af00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFC62E', endColorstr='#FFF0AF00', GradientType=0);
  text-shadow: 0 -1px 0 #dca000; }

.btn--high-contrast:hover {
  text-shadow: none;
  color: #e1a400;
  border-color: #ebebeb;
  background-color: white;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, white, white);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=0); }

.btn--high-contrast:active {
  background-color: #dedede;
  background-image: -moz-linear-gradient(top, #d9d9d9, #dedede);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9d9d9), to(#dedede));
  background-image: -webkit-linear-gradient(top, #d9d9d9, #dedede);
  background-image: -o-linear-gradient(top, #d9d9d9, #dedede);
  background-image: linear-gradient(to bottom, #d9d9d9, #dedede);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD9D9D9', endColorstr='#FFDEDEDE', GradientType=0); }

.btn--high-contrast--inactive {
  background-color: #f0af00;
  background-image: -moz-linear-gradient(top, #ffcb3e, #f0af00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffcb3e), to(#f0af00));
  background-image: -webkit-linear-gradient(top, #ffcb3e, #f0af00);
  background-image: -o-linear-gradient(top, #ffcb3e, #f0af00);
  background-image: linear-gradient(to bottom, #ffcb3e, #f0af00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFCB3E', endColorstr='#FFF0AF00', GradientType=0); }

.btn--inverted,
.btn--inverted:link,
.btn--inverted:visited {
  color: black;
  border-color: #9dbff9;
  border-bottom-color: #72a3f6;
  background-color: #a2c2f9;
  background-image: -moz-linear-gradient(top, #dbe8fd, #a2c2f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dbe8fd), to(#a2c2f9));
  background-image: -webkit-linear-gradient(top, #dbe8fd, #a2c2f9);
  background-image: -o-linear-gradient(top, #dbe8fd, #a2c2f9);
  background-image: linear-gradient(to bottom, #dbe8fd, #a2c2f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDBE8FD', endColorstr='#FFA2C2F9', GradientType=0);
  text-shadow: 0 1px 0 #f8fbff; }

.btn--inverted:hover {
  color: black;
  border-color: #7ca9f7;
  background-color: #c8dbfb;
  background-image: -moz-linear-gradient(top, #f8fbff, #c8dbfb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8fbff), to(#c8dbfb));
  background-image: -webkit-linear-gradient(top, #f8fbff, #c8dbfb);
  background-image: -o-linear-gradient(top, #f8fbff, #c8dbfb);
  background-image: linear-gradient(to bottom, #f8fbff, #c8dbfb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8FBFF', endColorstr='#FFC8DBFB', GradientType=0); }

.btn--inverted:active {
  background-color: #9dbff9;
  background-image: -moz-linear-gradient(top, #94b9f8, #9dbff9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#94b9f8), to(#9dbff9));
  background-image: -webkit-linear-gradient(top, #94b9f8, #9dbff9);
  background-image: -o-linear-gradient(top, #94b9f8, #9dbff9);
  background-image: linear-gradient(to bottom, #94b9f8, #9dbff9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF94B9F8', endColorstr='#FF9DBFF9', GradientType=0); }

.btn--inverted--inactive {
  background-color: #a2c2f9;
  background-image: -moz-linear-gradient(top, #eaf1fe, #a2c2f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaf1fe), to(#a2c2f9));
  background-image: -webkit-linear-gradient(top, #eaf1fe, #a2c2f9);
  background-image: -o-linear-gradient(top, #eaf1fe, #a2c2f9);
  background-image: linear-gradient(to bottom, #eaf1fe, #a2c2f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEAF1FE', endColorstr='#FFA2C2F9', GradientType=0); }

body {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  font-weight: 200;
  background-color: #532d53;
  border-top: 5px dashed #fff; }
  @media screen and (min-width: 520px) {
    body {
      font-size: 18px; } }
  @media screen and (min-width: 780px) {
    body {
      font-size: 20px; } }

h1 {
  font-size: 6em;
  margin: 0.23333em 0; }

h2 {
  font-size: 3.8em;
  margin: 0.36842em 0; }

h3 {
  font-size: 3.2em;
  margin: 0.4375em 0; }

h4 {
  font-size: 2.8em;
  margin: 0.5em 0; }

h5 {
  font-size: 2.4em;
  margin: 0.58333em 0; }

h6 {
  font-size: 1.8em;
  margin: 0.77778em 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mouse Memoirs', serif;
  line-height: 1.2; }

header,
section,
footer {
  margin: 4em 0; }

dl {
  margin: 3.5em 0; }
  dl dd {
    margin: 0.5em 0;
    padding: 0; }

pre {
  padding: 6px 10px;
  margin: 1.5em 0;
  color: #d7d2bc;
  line-height: 1.4;
  border-radius: 3px;
  border: 1px solid #afa9da;
  background-color: #2d2d2d; }
  pre strong {
    color: #fff; }

code {
  color: #d6cfb2; }

dd pre {
  margin: 0.5em 0; }

a,
a:link {
  color: #fff; }

.page-wrap {
  max-width: 700px;
  margin: 0 auto;
  padding: 1.5em; }

.page-header {
  border-bottom: 5px dashed #fff;
  padding-bottom: 4em; }

.page-footer {
  font-size: 0.9em;
  color: #eee;
  padding: 4em 0;
  border-top: 5px dashed #fff; }
