.btn {
  background-image: none;
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-family: sans-serif;
  padding: 0.5em 1em;
  margin: 0;
  cursor: pointer;
  letter-spacing: 1px;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  border-radius: 2px;
  line-height: 1.4;
  text-decoration: none; }

.btn:active,
.btn--active {
  -webkit-box-shadow: inset 0 1px 10px -4px black;
  -moz-box-shadow: inset 0 1px 10px -4px black;
  box-shadow: inset 0 1px 10px -4px black;
  text-shadow: 0 0 10px #fff; }

.btn--large {
  font-size: 1.5em; }

.btn--small {
  font-size: 0.75em; }

.btn--block {
  display: block; }

.btn {
  background-color: #222222;
  background-image: -webkit-linear-gradient(top, #414141, #222222);
  border: 1px solid;
  border-color: #1f1f1f;
  border-bottom-color: #090909;
  text-shadow: 0 -1px 0 #1d1d1d;
  color: #fff; }

.btn:hover {
  background-color: #363636;
  background-image: -webkit-linear-gradient(top, #505050, #363636);
  color: #f7f7f7;
  border-color: #0e0e0e; }

.btn:active {
  background-color: #1f1f1f;
  background-image: -webkit-linear-gradient(top, #1a1a1a, #1f1f1f); }

.btn--inactive {
  background-color: #222222;
  background-image: -webkit-linear-gradient(top, #484848, #222222); }

.btn--primary {
  background-color: #4985f7;
  background-image: -webkit-linear-gradient(top, #84acfa, #4985f7);
  border: 1px solid;
  border-color: #4482f7;
  border-bottom-color: #1864f5;
  text-shadow: 0 -1px 0 #3f7ef7;
  color: #fff; }

.btn--primary:hover {
  background-color: #709ff9;
  background-image: -webkit-linear-gradient(top, #a1c0fb, #709ff9);
  color: #f7f7f7;
  border-color: #226bf5; }

.btn--primary:active {
  background-color: #4482f7;
  background-image: -webkit-linear-gradient(top, #3a7bf6, #4482f7); }

.btn--primary--inactive {
  background-color: #4985f7;
  background-image: -webkit-linear-gradient(top, #92b6fa, #4985f7); }

.btn--danger {
  background-color: #d8544b;
  background-image: -webkit-linear-gradient(top, #e3847d, #d8544b);
  border: 1px solid;
  border-color: #d75047;
  border-bottom-color: #c5352b;
  text-shadow: 0 -1px 0 #d64c43;
  color: #fff; }

.btn--danger:hover {
  background-color: #df746d;
  background-image: -webkit-linear-gradient(top, #e89c96, #df746d);
  color: #f7f7f7;
  border-color: #ce372d; }

.btn--danger:active {
  background-color: #d75047;
  background-image: -webkit-linear-gradient(top, #d5483e, #d75047); }

.btn--danger--inactive {
  background-color: #d8544b;
  background-image: -webkit-linear-gradient(top, #e6908a, #d8544b); }

.btn--success {
  background-color: #5fb94a;
  background-image: -webkit-linear-gradient(top, #86ca76, #5fb94a);
  border: 1px solid;
  border-color: #5cb747;
  border-bottom-color: #4b963a;
  text-shadow: 0 -1px 0 #5ab345;
  color: #fff; }

.btn--success:hover {
  background-color: #79c467;
  background-image: -webkit-linear-gradient(top, #9ad38c, #79c467);
  color: #f7f7f7;
  border-color: #4f9d3d; }

.btn--success:active {
  background-color: #5cb747;
  background-image: -webkit-linear-gradient(top, #58b044, #5cb747); }

.btn--success--inactive {
  background-color: #5fb94a;
  background-image: -webkit-linear-gradient(top, #90ce81, #5fb94a); }

.btn--subtle {
  background-color: #cccccc;
  background-image: -webkit-linear-gradient(top, #ebebeb, #cccccc);
  border: 1px solid;
  border-color: #c9c9c9;
  border-bottom-color: #b3b3b3;
  text-shadow: 0 1px 0 #fafafa;
  color: #000; }

.btn--subtle:hover {
  background-color: #e0e0e0;
  background-image: -webkit-linear-gradient(top, #fafafa, #e0e0e0);
  color: black;
  border-color: #b8b8b8; }

.btn--subtle:active {
  background-color: #c9c9c9;
  background-image: -webkit-linear-gradient(top, #c4c4c4, #c9c9c9); }

.btn--subtle--inactive {
  background-color: #cccccc;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #cccccc); }

.btn--hotstuff {
  background-color: #f61e89;
  background-image: -webkit-linear-gradient(top, #f859a8, #f61e89);
  border: 1px solid;
  border-color: #f61986;
  border-bottom-color: #d80970;
  text-shadow: 0 -1px 0 #f61484;
  color: #fff; }

.btn--hotstuff:hover {
  background-color: #f8459e;
  background-image: -webkit-linear-gradient(top, #fa76b7, #f8459e);
  color: #f7f7f7;
  border-color: #e20975; }

.btn--hotstuff:active {
  background-color: #f61986;
  background-image: -webkit-linear-gradient(top, #f50f81, #f61986); }

.btn--hotstuff--inactive {
  background-color: #f61e89;
  background-image: -webkit-linear-gradient(top, #f968b0, #f61e89); }

body {
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  background-color: #532d53; }

/**
 * Various headings and size alias.
 */
/**
 * Heading, and size alias vertical rhythm declaration.
 */
h1,
.alpha {
  font-size: 4em;
  margin: 0.35em 0; }

.h1--raise,
.alpha--raise {
  margin-top: -0.35em; }

.h1--drop,
.alpha--drop {
  margin-bottom: -0.35em; }

h2,
.beta {
  font-size: 2.8em;
  margin: 0.5em 0; }

.h2--raise,
.beta--raise {
  margin-top: -0.5em; }

.h2--drop,
.beta--drop {
  margin-bottom: -0.5em; }

h3,
.gamma {
  font-size: 2.2em;
  margin: 0.63636em 0; }

.h3--raise,
.gamma--raise {
  margin-top: -0.63636em; }

.h3--drop,
.gamma--drop {
  margin-bottom: -0.63636em; }

h4,
.delta {
  font-size: 1.8em;
  margin: 0.77778em 0; }

.h4--raise,
.delta--raise {
  margin-top: -0.77778em; }

.h4--drop,
.delta--drop {
  margin-bottom: -0.77778em; }

h5,
.epsilon {
  font-size: 1.4em;
  margin: 1em 0; }

.h5--raise,
.epsilon--raise {
  margin-top: -1em; }

.h5--drop,
.epsilon--drop {
  margin-bottom: -1em; }

h6,
.zeta {
  font-size: 1em;
  margin: 1.4em 0; }

.h6--raise,
.zeta--raise {
  margin-top: -1.4em; }

.h6--drop,
.zeta--drop {
  margin-bottom: -1.4em; }

/**
 * Styles that apply to all headings for consistency.
 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Mouse Memoirs', serif;
  line-height: 1.4; }

.page-wrap {
  max-width: 520px;
  margin: 0 auto;
  padding: 1.5em; }

dl {
  margin: 1.5em 0; }
  dl dd {
    margin: 0.5em 0;
    padding: 0; }

pre {
  padding: 6px 10px;
  margin: 0;
  color: #d7d2bc;
  line-height: 1.4;
  border-radius: 3px;
  border: 1px solid #afa9da;
  background-color: #2d2d2d; }
